/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*My Code*/
/*DeskTop*/
* {
  box-sizing: border-box;
}

.index-form {
  max-width: 1000px;
  background-color: rgba(100, 110, 90, 0.2);
  margin: 0 auto;
  margin-top: 100px;
}

.index-form .application {
  text-align: center;
  font-size: 20px;
}

.index-form .name {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
}

.name .first-name {
  max-width: 500px;
}

.first-name .label-first {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.first-name .label-first:after {
  content: ":";
}

.first-name .input-first {
  border-radius: 5px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}

.first-name .input-first::placeholder {
  text-align: center;
}

.name .last-name {
  max-width: 500px;
}

.last-name .label-last {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.last-name .label-last:after {
  content: ":";
}

.last-name .input-last {
  border-radius: 5px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}

.last-name .input-last::placeholder {
  text-align: center;
}

.index-form .contact {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
}

.contact .phone-number {
  max-width: 500px;
}

.phone-number .label-phone {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.phone-number .label-phone:after {
  content: ":";
}

.phone-number .input-phone {
  border-radius: 5px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}

.phone-number .input-phone::placeholder {
  text-align: center;
}

.index-form .e-mail {
  max-width: 500px;
}

.e-mail .label-email {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.e-mail .label-email:after {
  content: ":";
}

.e-mail .input-email {
  border-radius: 5px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}

.e-mail .input-email::placeholder {
  text-align: center;
}

.index-form .location {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
  flex-wrap: wrap;
}

.location .address {
  max-width: 500px;
}

.address .label-address {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.address .label-address:after {
  content: ":";
}

.address .input-address {
  border-radius: 5px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}

.address .input-address::placeholder {
  text-align: center;
}

.location .zip-code {
  max-width: 500px;
}

.zip-code .label-zip {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.zip-code .label-zip:after {
  content: ":";
}

.zip-code .input-zip {
  border-radius: 5px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}

.zip-code .input-zip::placeholder {
  text-align: center;
}

.location .city {
  max-width: 500px;
  margin-top: 20px;
}

.city .label-city {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.city .label-city:after {
  content: ":";
}

.city .input-city {
  border-radius: 5px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}

.city .input-city::placeholder {
  text-align: center;
}

.location .state {
  max-width: 500px;
  margin-top: 20px;
}

.state .label-state {
  display: inline-block;
  width: 180px;
  text-align: left;
}

.state .label-state:after {
  content: ":";
}

.state .select-state {
  border-radius: 5px;
}

.index-form .position {
  display: block;
  margin-top: 20px;
}

.position .label-position {
  display: block;
}

.index-form .referance {
  display: block;
  margin-top: 20px;
}

.referance .label-referance {
  display: block;
}

.index-form .finish {
  display: block;
  margin-top: 20px;
  max-width: 500px;
}

.finish .input-upload {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*Tablets and beyond*/
@media only screen and (min-width: 1000px) {
  * {
    box-sizing: border-box;
  }

  .index-form {
    max-width: 1000px;
    background-color: rgba(100, 110, 90, 0.2);
    margin: 0 auto;
    margin-top: 100px;
  }

  .index-form .application {
    text-align: center;
    font-size: 20px;
  }

  .index-form .name {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
  }

  .name .first-name {
    max-width: 500px;
  }

  .first-name .label-first {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .first-name .label-first:after {
    content: ":";
  }

  .first-name .input-first {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .first-name .input-first::placeholder {
    text-align: center;
  }

  .name .last-name {
    max-width: 500px;
  }

  .last-name .label-last {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .last-name .label-last:after {
    content: ":";
  }

  .last-name .input-last {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .last-name .input-last::placeholder {
    text-align: center;
  }

  .index-form .contact {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
  }

  .contact .phone-number {
    max-width: 500px;
  }

  .phone-number .label-phone {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .phone-number .label-phone:after {
    content: ":";
  }

  .phone-number .input-phone {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .phone-number .input-phone::placeholder {
    text-align: center;
  }

  .index-form .e-mail {
    max-width: 500px;
  }

  .e-mail .label-email {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .e-mail .label-email:after {
    content: ":";
  }

  .e-mail .input-email {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .e-mail .input-email::placeholder {
    text-align: center;
  }

  .index-form .location {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    flex-wrap: wrap;
  }

  .location .address {
    max-width: 500px;
  }

  .address .label-address {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .address .label-address:after {
    content: ":";
  }

  .address .input-address {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .address .input-address::placeholder {
    text-align: center;
  }

  .location .zip-code {
    max-width: 500px;
  }

  .zip-code .label-zip {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .zip-code .label-zip:after {
    content: ":";
  }

  .zip-code .input-zip {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .zip-code .input-zip::placeholder {
    text-align: center;
  }

  .location .city {
    max-width: 500px;
    margin-top: 20px;
  }

  .city .label-city {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .city .label-city:after {
    content: ":";
  }

  .city .input-city {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .city .input-city::placeholder {
    text-align: center;
  }

  .location .state {
    max-width: 500px;
    margin-top: 20px;
  }

  .state .label-state {
    display: inline-block;
    width: 180px;
    text-align: left;
  }

  .state .label-state:after {
    content: ":";
  }

  .state .select-state {
    border-radius: 5px;
  }

  .index-form .position {
    display: block;
    margin-top: 20px;
  }

  .position .label-position {
    display: block;
  }

  .index-form .referance {
    display: block;
    margin-top: 20px;
  }

  .referance .label-referance {
    display: block;
  }

  .index-form .finish {
    display: block;
    margin-top: 20px;
    max-width: 500px;
  }

  .finish .input-upload {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
/*Smart phones and below*/
@media only screen and (max-width: 550px) {
  * {
    box-sizing: border-box;
  }

  .index-form {
    max-width: 400px;
    background-color: rgba(100, 110, 90, 0.2);
    margin: 0 auto;
    margin-top: 100px;
  }

  .index-form .application {
    text-align: center;
    font-size: 20px;
  }

  .index-form .name {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
  }

  .name .first-name {
    max-width: 400px;
    margin-bottom: 20px;
  }

  .first-name .label-first {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .first-name .label-first:after {
    content: ":";
  }

  .first-name .input-first {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .first-name .input-first::placeholder {
    text-align: center;
  }

  .name .last-name {
    max-width: 400px;
  }

  .last-name .label-last {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .last-name .label-last:after {
    content: ":";
  }

  .last-name .input-last {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .last-name .input-last::placeholder {
    text-align: center;
  }

  .index-form .contact {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
  }

  .contact .phone-number {
    max-width: 400px;
    margin-bottom: 20px;
  }

  .phone-number .label-phone {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .phone-number .label-phone:after {
    content: ":";
  }

  .phone-number .input-phone {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .phone-number .input-phone::placeholder {
    text-align: center;
  }

  .index-form .e-mail {
    max-width: 400px;
  }

  .e-mail .label-email {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .e-mail .label-email:after {
    content: ":";
  }

  .e-mail .input-email {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .e-mail .input-email::placeholder {
    text-align: center;
  }

  .index-form .location {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
  }

  .location .address {
    max-width: 400px;
    margin-bottom: 20px;
  }

  .address .label-address {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .address .label-address:after {
    content: ":";
  }

  .address .input-address {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .address .input-address::placeholder {
    text-align: center;
  }

  .location .zip-code {
    max-width: 500px;
  }

  .zip-code .label-zip {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .zip-code .label-zip:after {
    content: ":";
  }

  .zip-code .input-zip {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .zip-code .input-zip::placeholder {
    text-align: center;
  }

  .location .city {
    max-width: 500px;
    margin-top: 20px;
  }

  .city .label-city {
    display: inline-block;
    width: 140px;
    text-align: left;
  }

  .city .label-city:after {
    content: ":";
  }

  .city .input-city {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
  }

  .city .input-city::placeholder {
    text-align: center;
  }

  .location .state {
    max-width: 500px;
    margin-top: 20px;
  }

  .state .label-state {
    display: inline-block;
    width: 180px;
    text-align: left;
  }

  .state .label-state:after {
    content: ":";
  }

  .state .select-state {
    border-radius: 5px;
  }

  .index-form .position {
    display: block;
    margin-top: 20px;
  }

  .position .label-position {
    display: block;
  }

  .index-form .referance {
    display: block;
    margin-top: 20px;
  }

  .referance .label-referance {
    display: block;
  }

  .index-form .finish {
    display: block;
    margin-top: 20px;
    max-width: 500px;
  }

  .finish .input-upload {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
